openapi: 3.0.3
info:
  title: Embafinans B2C Payment Gateway API
  description: REST API for B2C sales channel and payment gateway integration
  version: 1.0.0
  contact:
    name: Zamir Jamalov
    email: jamalov.zamir@gmail.com

servers:
  - url: https://api.embafinans.az/v1
    description: Production server

tags:
  - name: Orders
    description: B2C order management
  - name: Payments
    description: Payment processing

paths:
  /orders:
    post:
      tags: [Orders]
      summary: Create a new B2C credit order
      description: Creates a new order for goods purchase on credit via the B2C mobile application
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Invalid request

  /orders/{orderId}/status:
    get:
      tags: [Orders]
      summary: Get order status
      operationId: getOrderStatus
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatusResponse'

  /payments/initiate:
    post:
      tags: [Payments]
      summary: Initiate payment
      description: Initiates payment through the payment gateway for an existing order
      operationId: initiatePayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitRequest'
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitResponse'

  /payments/{paymentId}/callback:
    post:
      tags: [Payments]
      summary: Payment gateway callback
      description: Receives async callback from payment gateway after payment processing
      operationId: paymentCallback
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCallbackRequest'
      responses:
        '200':
          description: Callback processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "RECEIVED"

components:
  schemas:
    CreateOrderRequest:
      type: object
      required: [customerId, productId, quantity, installmentMonths]
      properties:
        customerId:
          type: string
          format: uuid
        productId:
          type: string
        quantity:
          type: integer
          example: 1
        installmentMonths:
          type: integer
          enum: [3, 6, 12, 18, 24]
          example: 12
        deliveryAddress:
          type: string

    OrderResponse:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
          enum: [CREATED, PAYMENT_PENDING, PAID, PROCESSING, SHIPPED, DELIVERED]
        totalAmount:
          type: number
        monthlyPayment:
          type: number
        createdAt:
          type: string
          format: date-time

    OrderStatusResponse:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
        paymentStatus:
          type: string
        deliveryStatus:
          type: string
        updatedAt:
          type: string
          format: date-time

    PaymentInitRequest:
      type: object
      required: [orderId, paymentMethod]
      properties:
        orderId:
          type: string
        paymentMethod:
          type: string
          enum: [BANK_CARD, BANK_TRANSFER, WALLET]
          example: BANK_CARD
        returnUrl:
          type: string
          description: URL to redirect after payment

    PaymentInitResponse:
      type: object
      properties:
        paymentId:
          type: string
        redirectUrl:
          type: string
          description: Payment gateway redirect URL
        expiresAt:
          type: string
          format: date-time

    PaymentCallbackRequest:
      type: object
      properties:
        paymentId:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED, PENDING]
        transactionId:
          type: string
        amount:
          type: number
        timestamp:
          type: string
          format: date-time
